@model IEnumerable<innocv_crud_api.Models.User>

@{ 
    ViewBag.Title = "Users Page";
}
<div class="jumbotron">
    <h1>Users</h1>
    <p class="lead"></p>
</div>
<h3>List of users</h3>
<table id="users" class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Birthdate</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Id)</td>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>@Html.DisplayFor(m => item.Birthdate)</td>
                <td>
                    @Html.ActionLink("View details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<h5>If you want to <strong>add a new User</strong>, please do click @Html.ActionLink("here", "Add")</h5>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script src="~/Scripts/innocv/main.js"></script>
